@{
    Layout = "_Layout";

}
@model List<GetDeskDto>

<div class="pagination">
    <button id="onceki" onclick="location.href='@Url.Action("Index",new { hallId = ViewBag.HallId, sayfa = ViewBag.sayfa - 1 })'" style="@(ViewBag.sayfa < 1 ? "visibility: hidden;": "visibility: visible;")">&lt;</button>
    <div class="tarih-kutulari">
        @foreach (var item in ViewBag.tarihler)
        {
            @Html.Raw(item)
        }
    </div>
    <button id="ileri" onclick="location.href='@Url.Action("Index",new { hallId = ViewBag.HallId, sayfa = ViewBag.sayfa + 1 })'">&gt;</button>
</div>


<select class="form-select" onchange="selectOption(this.options[this.selectedIndex])" id="saat">

    @foreach (var item in ViewBag.saatler)
    {
        if(item == ViewBag.startTime)
        {
            <option startTime="@item" endTime="@item.AddHours(3)" selected>@item- @item.AddHours(3)</option>
        }
        else
        {
            <option startTime="@item" endTime="@item.AddHours(3)">@item - @item.AddHours(3)</option>
        }

    }
</select>
@await Html.PartialAsync("_Popup", TempData["model"])




<br />
<div class="column-desk" id="@ViewBag.HallId">
    @foreach (var desk in Model)
    {

        <div class="column-seat">
            <div id="@desk.Id" class="deskDiv rowDiv">@desk.DeskNo</div>
            @foreach (var seat in desk.Seats)
            {
                <div class="seat-div" id="@seat.Id" style="@(seat.IsReserved ? " pointer-events:none " : "")">
                    <i class="fa-solid fa-chair @(seat.IsReserved ? "seat-red" : "seat-blue")"></i>
                </div>
            }
        </div>

    }
</div>



@section Scripts {
    <script src="~/js/index.js"></script>
    <script>
        function selectOption(deger) {
            const dateInMilliseconds = Date.parse(deger.getAttribute("startTime"));

            const dateObject = new Date(dateInMilliseconds).addHours(3).toUTCString();
            console.log(dateObject);
            window.location.href = '/Desk/Index?hallId=' + @ViewBag.HallId + '&startTime=' + dateObject + '&sayfa=' + @ViewBag.sayfa;
        }
    </script>
}